
.buttonFaucet {
  background: #545050 !important;
  font-family: 'Monument' !important;
  padding: 12px 20px 10px 20px !important;
  /* min-width: 100% !important; */
  max-width: 300px;
  width: 100%;
  text-transform: capitalize !important;
  color: #ffb405 !important;
  animation: buttonFaucetAnim 1s ease 1;
  animation-delay: 400ms;
  animation-fill-mode: forwards;
  position: relative;
  bottom: 0;
  opacity: 0;
}

.loadingCircle {
  margin-left: 6px !important;
}

@keyframes buttonFaucetAnim {
  0% {
  bottom: -100px;
  opacity: 0;
  }
  100% {
  bottom: 0;
  opacity: 1;
  }
}

@media screen and (max-width: 960px) {
  .buttonFaucet {
    width: 100% !important;
    margin: 0 !important;
    float: none !important;
  }
}